body {
    margin: 0;
    padding: 0;
    font-family: 'Judson', serif;
    background-color: #1a1a1a;
    color: #e0e0e0;
}

h2 {
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: larger;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #000000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo {
    font-family: 'Jomhuria', sans-serif;
    font-size: 32px;
    color: #ffffff;
    margin: 0;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.navigation ul li a:hover {
    color: gray;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #1a1a1a;
}

.intro-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 30px;
}

.intro-text {
    text-align: center;
    flex: 1;
    font-family: 'Judson', serif;
    color: white;
}

.intro-text h2 {
    font-family: 'JetBrains Mono', monospace;
    margin-bottom: 20px;
}

.intro-description {
    flex-basis: 100%;
    color: white;
    font-size: 1.1em;
    line-height: 1.5;
    margin-top: 20px;
    max-width: 700px;
    width: 100%;
    text-align: left;
}

.intro-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #333333;
    flex-wrap: wrap;
    flex-direction: row;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: 100%;
    max-width: 300px;
    margin: 10px;
}

.product-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-img img {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 8px;
}

.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

.footer-links ul li a:hover {
    color: gray;
}

.specifications {
    margin-top: 10px;
    text-align: left;
    color: white;
}

.specifications h4 {
    margin: 5px 0;
}

.specifications ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.specifications li {
    margin-bottom: 5px;
}

.buy-button {
    background-color: #1a1a1a;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: gray;
}

.checkout-container {
    width: 960px;
    margin: auto;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a;
    justify-content: center;
}

.order-summary {
    margin-bottom: 20px;
}

.order-summary h2, .billing-info h2 {
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
}

.order-summary ul {
    list-style: none;
    padding: 0;
}

.billing-info {
    margin-top: 20px;
}

.billing-info label {
    display: block;
    margin: 10px 0 5px;
}

.billing-info input {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    color: #ffffff;
}

.billing-info input:focus {
    outline: none;
    border-color: #555;
}
